<% include header %>
<div class="container" role="main">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="well">
        <form role="form">
          <div class="form-group">
            <label for="portnumber">Port Number</label>
            <input type="text" class="form-control" id="portnumber" placeholder="enter port number" value = "5555">
          </div>
          <button type="submit" class="btn btn-success" id="btnstartserver">Start Server</button>
          <button type="submit" class="btn btn-danger" id="btnstopserver">Stop Server</button>
        </form>
      </div>
    </div>
  </div>

</div>
<!-- /container -->
<% include footer %>

