<% include header %>
<div class="container" role="main">

  <!------------------------ start/stop server ---------------------------->
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="well">
        <form role="form">
          <div class="form-group">


            <div class="form-inline">
              <label for="portnumber">Echo Server</label>
              <span id="server-status">stopped</span>
            </div>


            <div class="input-group">
              <input type="text" class="form-control" id="portnumber"
                     placeholder="Enter port between 1024-65535" value="5555">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-default"
                        id="btnserver"></button>
              </span>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div id="message-panel" class="hidden">
    <!------------------------ send message ---------------------------->
    <div class="row topmargin">
      <div class="col-md-4 col-md-offset-4">
        <div class="well">
          <form role="form" id="formmessage">
            <div class="form-group">
              <label for="message">Message</label>

              <div class="input-group">
                <input type="text" class="form-control" id="message"
                       placeholder="Send message...">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-default"
                        id="btnsendmessage">Send
                </button>
              </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!------------------------ status messages ---------------------------->
    <div class="row">
      <div class="col-md-4 col-md-offset-4" id="info">
      </div>
    </div>

    <!------------------------ show history ---------------------------->
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <button type="button" class="btn btn-info" id="btngethistory">Show
          History
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <h3>Messages</h3>

        <div class="input-group">
          <input type="text" class="form-control search" id="searchfilter"
                 placeholder="type here to search"/>
        <span class="input-group-addon"><i
              class="glyphicon glyphicon-search"></i></span>
        </div>
        <div id="history"></div>
      </div>
    </div>

  </div>
</div>

<!-- /container -->

<script
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script
    src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="/js/underscore.js"></script>
<script src="/js/backbone.js"></script>
<script src="/js/echoclient.js"></script>

<script>

  $(document).ready(function () {
    var serverStarted = false;
    var client = new EchoClient();
    var pattern = '';


    _.templateSettings = {
      interpolate: /{{=(.+?)}}/g,
      evaluate: /{{(.+?)}}/g
    };


    var port = $('#portnumber').val();
    $.getJSON('/api/v1/echoserver/' + port, function (result) {
      var btn = $('#btnserver');
      var glyph = $('#server-glyph');
      var status = $('#server-status');
      var messagePanel = $('#message-panel');

      if (result && result.status == 'OK' && /started/.test(result.message)) {
        serverStarted = true;
        btn.text('Stop');
        //btn.removeClass('btn-success');
        //btn.addClass('btn-danger');
        glyph.removeClass('glyphicon-remove-circle');
        glyph.addClass('glyphicon-play-circle');
        status.text('started');
        status.removeClass('stopped');
        status.addClass('started');
        messagePanel.removeClass('hidden');
        $('#message').focus();
      } else {
        btn.text('Start');
        //btn.removeClass('btn-danger');
        //btn.addClass('btn-success');
        glyph.removeClass('glyphicon-play-circle');
        glyph.addClass('glyphicon-remove-circle');
        status.text('stopped');
        status.removeClass('started');
        status.addClass('stopped');
        messagePanel.addClass('hidden');
      }

      btn.prop('disabled', false);
    });

    $("#btnserver").click(function (e) {
      var port = $('#portnumber').val();
      e.preventDefault();
      sendServerCommand(port, serverStarted ? 'stop' : 'start');
    });

    function sendServerCommand(port, command) {
      $.post('/api/v1/echoserver/' + port + '/' + command, function (result) {
        if (result.status == 'error') {
          console.log(result.message);
        } else {
          // console.log(result.message);
          var btn = $('#btnserver');
          var glyph = $('#server-glyph');
          var status = $('#server-status');
          var messagePanel = $('#message-panel');

          if (command == 'start') {
            serverStarted = true;
            btn.text('Stop');
            //btn.removeClass('btn-success');
            //btn.addClass('btn-danger');
            glyph.removeClass('glyphicon-play-circle');
            glyph.addClass('glyphicon-remove-cirlce');
            status.text('started');
            status.removeClass('stopped');
            status.addClass('started');
            messagePanel.removeClass('hidden');
            $('#message').focus();

            client.open('ws://localhost:' + port);
            client.onopen = function () { console.log('client open')};
            client.onclose = function () { console.log('client close')};
            client.onerror = function (err) { console.log('error: ' + err.message) };
            client.onmessage = onMessage;
            client.onhistory = onHistory;

          } else {
            serverStarted = false;
            client.close();
            btn.text('Start');
            //btn.removeClass('btn-danger');
            //btn.addClass('btn-success');
            glyph.removeClass('glyphicon-remove-circle');
            glyph.addClass('glyphicon-play-circle');
            status.text('stopped');
            status.removeClass('started');
            status.addClass('stopped');
            messagePanel.addClass('hidden');
          }
        }
      });
    }

    $("#btnstopserver").click(function (e) {
      var portnumber = $('#portnumber').val();
      e.preventDefault();

      //todo
      alert("server stopped on port " + portnumber);

    });

    function validatePort(elem) {
      var val = $('#portnumber').val();
      var port = parseInt(val, 10);

      if (port >= 1024 && port < 65535) {
        return true;
      } else {
        alert("Enter a valid port number");
        elem.focus();
        return false;
      }
    }


    <!-------------------------- messages ----------------------------->

    function onMessage(message) {
      var msg = message.messages[0];
      console.log(msg);

      //insert info box to show server response time
      // todo get history function, which will return json like below
      tmplMarkup = $('#tmpl-info').html();
      compiledTmpl = _.template(tmplMarkup, { response: message });
      $('#info').html(compiledTmpl);
    }

    $("form#formmessage").submit(function (e) {
      e.preventDefault();

      var msg = $('#message').val();
      client.send(msg);

      // clear fields on each message send
      $("#message").val("");
      $("#history").empty();
      pattern = '';
    });

    <!-------------------------- history ----------------------------->

    $("#searchfilter").bind('input', function () {
      pattern = $(this).val();
      var filtered = client.historyFilter(pattern);

      $('#info').html('');
      showHistory(filtered);
    });

    $("#btngethistory").click(function () {
      client.sendHistoryCommand();
    });

    function onHistory(response) {
      if (!response || !response.messages) return;

      showHistory(response);

      tmplMarkup = $('#tmpl-info').html();
      compiledTmpl = _.template(tmplMarkup, { response: response });
      $('#info').html(compiledTmpl);
    }

    function showHistory(response) {
      if (!response || !response.messages) return;

      var tmplMarkup = $('#tmpl-messages').html();
      var compiledTmpl = _.template(tmplMarkup, { response: response });
      $('#history').html(compiledTmpl);
    }

  }); // $(document).ready()

</script>

<script id="tmpl-info" type="text/template">
  <div class="alert alert-info">
    <strong>"{{= response.messages[0] }}", Took {{= response.responseTime }}ms</strong>
  </div>
</script>

<script id="tmpl-messages" type="text/template">
  <ul class="list list-group">
    {{ var i, message; }}
    {{ var messages = response.messages; }}
    {{ for (i = 0; i < messages.length; i++) { }}
    {{ message = messages[i]; }}

    <li class="list-group-item">
      {{= message }}
    </li>

    {{ } }}
  </ul>
</script>

<% include footer %>

