<% include header %>

<div class="container" role="main">
  <div id="server-control"></div>
  <div id="message-panel"></div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<!--script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.runtime.min.js"></script-->
<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
<script src="/js/main.bundle.js"></script>

<script>

  $(document).ready(function () {
    require('echo').start();
  });

</script>

<script id="message-history-template" type="text/template">
</script>


<!----------------------------------------------------------------------------->
<% include footer %>

