<% include header %>

<div class="container" role="main">
  <div id="server-control"></div>
  <div id="message-panel"></div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<!--script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.runtime.min.js"></script-->
<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
<script src="/js/main.bundle.js"></script>

<script>

  $(document).ready(function () {
    var app = require('echo').app;

    var serverStarted = false;
    var pattern = '';


    /*
     var port = $('#portnumber').val();
     $.getJSON('/api/v1/echoserver/' + port, function (result) {

     if (result && result.status == 'OK' && /started/.test(result.message)) {
     serverStarted = true;
     app.set('serverState', 'started');
     $('#message').focus();
     } else {
     app.set('serverState', 'stopped');
     }

     });
     */
    /*
     $("#btnserver").click(function (e) {
     var port = $('#portnumber').val();
     e.preventDefault();
     sendServerCommand(port, serverStarted ? 'stop' : 'start');
     });
     */

    function sendServerCommand(port, command) {
      $.post('/api/v1/echoserver/' + port + '/' + command, function (result) {
        if (result.status == 'error') {
          console.log(result.message);
        } else {
          // console.log(result.message);
          //var btn = $('#btnserver');
          var glyph = $('#server-glyph');
          //var status = $('#server-status');
          //var messagePanel = $('#message-panel');

          if (command == 'start') {
            app.set('serverState', 'started');
            app.open();

            serverStarted = true;
            //btn.text('Stop');
            //btn.removeClass('btn-success');
            //btn.addClass('btn-danger');
            glyph.removeClass('glyphicon-play-circle');
            glyph.addClass('glyphicon-remove-cirlce');
            //status.text('started');
            //status.removeClass('stopped');
            //status.addClass('started');
            //messagePanel.removeClass('hidden');
            $('#message').focus();

            /*
             client.onopen = function () { console.log('client open')};
             client.onclose = function () { console.log('client close')};
             client.onerror = function (err) { console.log('error: ' + err.message) };
             client.onmessage = onMessage;
             client.onhistory = onHistory;
             client.open('ws://localhost:' + port);
             */

          } else {
            app.set('serverState', 'stopped');
            app.close();
            serverStarted = false;
            /*
             client.close();
             client.onopen = null;
             client.onclose = null;
             client.onerror = null;
             client.onmessage = null;
             client.onhistory = null;
             */

            //btn.text('Start');
            //btn.removeClass('btn-danger');
            //btn.addClass('btn-success');
            glyph.removeClass('glyphicon-remove-circle');
            glyph.addClass('glyphicon-play-circle');
            //status.text('stopped');
            //status.removeClass('started');
            //status.addClass('stopped');
            //messagePanel.addClass('hidden');
          }
        }
      });
    }

    <!-------------------------- messages ----------------------------->
    function onMessage(message) {
      var msg = message.messages[0];
      console.log(msg);

      //insert info box to show server response time
      // todo get history function, which will return json like below
      tmplMarkup = $('#tmpl-info').html();
      compiledTmpl = _.template(tmplMarkup, { response: message });
      $('#info').html(compiledTmpl);
    }

    $("form#formmessage").submit(function (e) {
      e.preventDefault();

      var msg = $('#message').val();
      app.send(msg);
      client.send(msg);

      // clear fields on each message send
      $("#message").val("");
      $("#history").empty();
      pattern = '';
    });

    <!-------------------------- history ----------------------------->
    $("#searchfilter").bind('input', function () {
      pattern = $(this).val();
      var filtered = client.historyFilter(pattern);

      $('#info').html('');
      showHistory(filtered);
    });

    $("#btngethistory").click(function () {
      client.sendHistoryCommand();
    });

    function onHistory(response) {
      if (!response || !response.messages) return;

      showHistory(response);

      tmplMarkup = $('#tmpl-info').html();
      compiledTmpl = _.template(tmplMarkup, { response: response });
      $('#info').html(compiledTmpl);
    }

    function showHistory(response) {
      if (!response || !response.messages) return;

      var tmplMarkup = $('#tmpl-messages').html();
      var compiledTmpl = _.template(tmplMarkup, { response: response });
      $('#history').html(compiledTmpl);
    }

  }); // $(document).ready()

</script>

<!-------------------------- templates ----------------------------->
<!------------------------ server control ---------------------------->
<script id="server-control-template" type="text/x-handlebars-template">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="well">
        <form role="form" action="/#">
          <div class="form-group">

            <div class="form-inline">
              <label for="portnumber">Echo Server</label>
              <span id="server-state" class="{{ stateClass }}">{{ serverState }}</span>
            </div>

            <input type="text" class="form-control {{ inputVisibility }}" id="portnumber"
                   placeholder="Enter port between 1024-65535"
                   value="{{ serverPort }}">
          </div>
          <div class="form-inline">
            <button type="submit" class="btn btn-default"
                    id="btnserver">{{ serverCommand }}
            </button>
            <span id="server-error" class="{{ serverErrorClass }}">{{ serverError }}</span>
          </div>
        </form>
      </div>
    </div>
  </div>
</script>


<!------------------------ message panel ---------------------------->
<script id="message-panel-template" type="text/x-handlebars-template">
  <div class="{{ hidden }}">

    <div id="message-send"> </div>

    <div id="message-receive"></div>

    <div id="message-history"></div>

  </div>
</script>

<!------------------------ send message ---------------------------->
<script id="message-send-template" type="text/x-handlebars-template">
  <div class="row topmargin">
    <div class="col-md-4 col-md-offset-4">
      <div class="well">
        <form role="form" id="formmessage">
          <div class="form-group">
            <label for="message">Message</label>

            <div class="input-group">
              <input type="text" class="form-control" id="message"
                     placeholder="Send message...">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-default"
                        id="btnsendmessage">Send
                </button>
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</script>

<!------------------------ receive message ---------------------------->
<script id="message-receive-template" type="text/template">
  <div class="row">
    <div class="col-md-4 col-md-offset-4" id="info">
      <div class="alert alert-info">
        <strong>{{ message }}</strong>
      </div>
    </div>
  </div>
</script>

<!------------------------ message history ---------------------------->
<script id="message-history-template" type="text/template">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <button type="button" class="btn btn-info" id="btngethistory">Show
        History
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h3>Messages</h3>

      <div class="input-group">
        <input type="text" class="form-control search" id="searchfilter"
               placeholder="type here to search"/>
        <span class="input-group-addon"><i
              class="glyphicon glyphicon-search"></i></span>
      </div>

      <div id="history">
        <ul class="list list-group">
          {{#each messages}}
          <li class="list-group-item">
            {{this}}
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</script>


<!----------------------------------------------------------------------------->
<% include footer %>

