<script id="message-panel-template" type="text/x-handlebars-template">
  <div class="{{ hidden }}">

    <div id="message-send"> </div>

    <div id="message-receive"></div>

    <div id="message-history"></div>

  </div>
</script>