<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <button type="button" class="btn btn-info" id="btngethistory">Show
      History
    </button>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h3>Messages</h3>

    <div class="input-group">
      <input type="text" class="form-control search" id="searchfilter"
             placeholder="type here to search"/>
        <span class="input-group-addon"><i
            class="glyphicon glyphicon-search"></i></span>
    </div>

    <div id="history">
      <ul class="list list-group">
        {{#each messages}}
          <li class="list-group-item">
            {{this}}
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
